
/*------------ Custom width ------------ */
$w-25px:25px!important;
$w-30px:30px!important;
$w-50px:50px!important;
$w-100px:100px;

$w-50:50%!important;

$w-35vw:35vw;
$w-50vw:50vw;
$w-90vw:90vw;

$w-5rem:5rem!important;

/*-------------- Custom height -----------*/

$h-80vh:80vh;

/*-------------- Custom Position ---------*/

$start-75:75% !important;

/*-------------- Custom Shadows ----------*/
$box-shadow-in-out-gray: 0px 0px 20px rgba(rgb(56, 56, 56), 0.25),
inset 0px 0px 20px rgba(rgb(181, 181, 181), 0.25);
;

/*-------------- Custom Colors --------------*/

$white:white;

/*------------- Custom Inset ----------------*/

$dropdown-custom-inset: 0px -12px auto auto;